<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIconFile</key>
	<string>StartPP.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>&apos;spf&apos;</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>&apos;StartPP.icns&apos;</string>
			<key>CFBundleTypeName</key>
			<string>&apos;StartPP documents&apos;</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>StartPP</string>
	<key>CFBundleGetInfoString</key>
	<string>StartPP, version 1.0.1.12, copyright Dmitriy Tsvetkov</string>
	<key>CFBundleIdentifier</key>
	<string>com.tchv.startpp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1.12</string>
	<key>CFBundleSignature</key>
	<string>STAR</string>
	<key>CFBundleVersion</key>
	<string>1.0.1.12</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
</dict>
</plist>
