<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>CFBundleExecutable</key>
    <string>StartPP</string>

    <key>CFBundleGetInfoString</key>
    <string>StartPP, version 1.0, copyright Dmitriy Tsvetkov</string>

    <key>CFBundleIconFile</key>
    <string>StartPP.icns</string>

    <key>CFBundleIdentifier</key>
    <string>com.tchv.startpp</string>

    <key>CFBundleSignature</key>
    <string>STAR</string>

    <key>CFBundleVersion</key>
    <string>1.0</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

</dict>
</plist>
